<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Question</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <h3>Please Answer the all question</h3>
    </div>
    <div class="container">
        <form method="post" action="/post_test">
            <div class="form-group mb-3">
                <label for="quiz" class="form-label">1)What year was the very first model of the iPhone
                    released?</label><br>
                <input type="radio" name="one" id="quiz" value="2007" class="" style="margin-left: 10px;">
                2007
                <input type="radio" name="one" id="quiz" value="2009" class="" style="margin-left: 10px;">
                2009
                <input type="radio" name="one" id="quiz" value="2008" class="" style="margin-left: 10px;">
                2008
                <input type="radio" name="one" id="quiz" value="2010" class="" style="margin-left: 10px;">
                2010
            </div>
            <hr>
            <div class="form-group mb-3">
                <label for="quiz" class="form-label">2)In which year did Usain Bolt set his 100m in 9.58 seconds world
                    record?
                </label><br>
                <input type="radio" name="two" id="quiz" value="2007" class="" style="margin-left: 10px;">
                2007
                <input type="radio" name="two" id="quiz" value="2009" class="" style="margin-left: 10px;">
                2009
                <input type="radio" name="two" id="quiz" value="2008" class="" style="margin-left: 10px;">
                2008
                <input type="radio" name="two" id="quiz" value="2010" class="" style="margin-left: 10px;">
                2010
            </div>
            <hr>

            <div class="form-group mb-3">
                <label for="quiz" class="form-label">3)In what year was Broadway established?</label><br>
                <input type="radio" name="three" id="quiz" value="1760" class="" style="margin-left: 10px;">
                1760
                <input type="radio" name="three" id="quiz" value="1750" class="" style="margin-left: 10px;">
                1750
                <input type="radio" name="three" id="quiz" value="1755" class="" style="margin-left: 10px;">
                1755
                <input type="radio" name="three" id="quiz" value="1758" class="" style="margin-left: 10px;">
                1758
            </div>
            <hr>
            <div class="form-group mb-3">
                <label for="quiz" class="form-label">4)When was the company Nike founded?</label><br>
                <input type="radio" name="four" id="quiz" value="1971" class="" style="margin-left: 10px;">
                1971
                <input type="radio" name="four" id="quiz" value="1975" class="" style="margin-left: 10px;">
                1975
                <input type="radio" name="four" id="quiz" value="1950" class="" style="margin-left: 10px;">
                1950
                <input type="radio" name="four" id="quiz" value="1980" class="" style="margin-left: 10px;">
                1980
            </div>
            <hr>
            <div class="form-group mb-3">
                <label for="quiz" class="form-label">5)When did construction on the Empire State building
                    started?</label><br>
                <input type="radio" name="five" id="quiz" value="1920" class="" style="margin-left: 10px;">
                1920
                <input type="radio" name="five" id="quiz" value="1925" class="" style="margin-left: 10px;">
                1925
                <input type="radio" name="five" id="quiz" value="1918" class="" style="margin-left: 10px;">
                1918
                <input type="radio" name="five" id="quiz" value="1929" class="" style="margin-left: 10px;">
                1929
            </div>
            <button type="submit" class="btn btn-primary">Submit Answer</button>
        </form>
    </div>
</body>

</html>